post_processor:
  add_columns:
    file: "./input/aviva_pension_input.csv"
    encoding: "utf-8"
    delim: ","
    columns:
      - Charge
      - FT ratings
      - MS ratings
      - Colour
    key: "SEDOL"
  add_prices:
    file: "./input/funds_and_prices.csv"
    encoding: "utf-8"
    delim: ","
    columns:
      - Charge
      - Price
    key: "Name"
report:
  columns:
    - Name
    - ISIN Code
    - risk
    - fund_to_benchmark_ave
    - fund_to_sector_ave
    - Charge
    - FT ratings
    - MS ratings
    - Price
    - Colour
    - Fund Size
    - Launch date
    - Sector Ga
    - Equities
    - External fund holdings
    - SEDOL
    - Fund Manager
    - FileName
    - General
    - Foreign Exchange Risk
    - Emerging Markets
    - Smaller Companies
    - Fixed Interest
    - Derivatives
    - Cash/Money Market Funds
    - Property Funds
    - High Yield Bonds
    - Reinsured Funds
    