post_processor:
  add_columns:
    file: "./input/aviva_pension_input.csv"
    encoding: "utf-8"
    delim: ","
    columns:
      - Charge
      - FT ratings
      - MS ratings
      - Colour
    key: "SEDOL"
  add_prices:
    file: "./input/funds_and_prices.csv"
    encoding: "utf-8"
    delim: ","
    columns:
      - Charge
      - Price
    key: "Name"
  performance:
    columns:
      - Year
      - Year-1
      - Year-2
      - Year-3
      - Year-4
report:
  outfile: "report.csv"
  columns:
    - Name
    - ISIN Code
    - date
    - risk
    - fund_to_benchmark_ave
    - fund_to_sector_ave
    - Charge
    - FT ratings
    - MS ratings
    - Price
    - Colour
    - cumulative_perf_5
    - cumulative_perf_3
    - Year
    - Year-1
    - Year-2
    - Year-3
    - Year-4
    - Fund Size
    - Launch date
    - External fund holdings
    - SEDOL
    - FileName
    - General
    - Foreign Exchange Risk
    - Emerging Markets
    - Smaller Companies
    - Fixed Interest
    - Derivatives
    - Cash/Money Market Funds
    - Property Funds
    - High Yield Bonds
    - Reinsured Funds

risks:
  names:
    - General
    - Foreign Exchange Risk
    - Emerging Markets
    - Smaller Companies
    - Fixed Interest
    - Derivatives
    - Cash/Money Market Funds
    - Property Funds
    - High Yield Bonds
    - Reinsured Funds"
